.centered {
    text-align: center;
}

.mainser {
    visibility: hidden;
}

a:hover {
    text-decoration: none;
}

.or-spacer {
    margin-top:50px;
    margin-bottom: 50px;
    width:100%;
    position:relative;
}
.or-spacer .mask {
    overflow:hidden;
    height:20px;
}
.or-spacer .mask:after {
    content:'';
    display:block;
    margin:-25px auto 0;
    width:100%;
    height:25px;
    border-radius:125px / 12px;
    box-shadow:0 0 8px black;
}

div.logo{
    background: url("../img/logo.png") no-repeat scroll 50% 50%;
    width: 190px;
    height: 60px;
    vertical-align: middle !important;
    opacity: 1;
}

.telefono h2 {
	font-family: "Ruda";
	text-transform: uppercase;
    color: #ffffff;
	font-size: 20px;
}

div.carousel-inner div.item img {
    width: 100%;
}

.carousel-caption {
    top: 30%;

}

.carousel-caption p {
    background-color: rgba(0,102,73,0.5);
    color: #ffffff;
    font-family: "Ruda";
    font-size: 30px;
    width: 60%;
    margin: 0 auto;

}

.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
  opacity: 1;
}

nav {
    background-color: rgba(0, 0, 0, 0.5); 
    position: relative;
}

#rueda {
    float: left;
}

#rueda-r {
    float: left;
}

.botones {
    display: block;
    clear: both;
    min-height: 100px;
}

.boton {
    position: absolute;
    bottom: -70px;
    background-color: #404040;
    border: 7px solid #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 390px;
    border-radius: 390px;
    height: 150px;
    width: 150px;   
    vertical-align: middle;
    display: block;
}

.boton span {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;
}

.btn-seguimiento {
    background-color: #006649;
}

a.boton {
    font-family: "Ruda";
    color: #ffffff;
    line-height: 130px;
    font-size: 20px;
}

.boton:hover {
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.icon,
.fa-li {
    color: #ffffff;
}

/*
* CSS Empresa
*/
.empresa-bg {
    background-image: url("../img/1-gris.jpg");
    font-family: "Ruda";
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

}

#empresa .container-empresa {
    background-color: rgba(0,102,73,0.9); 
    padding-top: 5px;
    padding-bottom: 30px;
}
#empresa .icon {
    text-align: center;
}

#empresa h1 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}


#empresa p {
    color: #ffffff;
    font-size: 20px;
    text-align: justify;
}

/*
* CSS Servicios
*/

#servicios {
    font-family: "Ruda";
}

#servicios .icon,
#servicios .fa-li {
    text-align: center;
    color: #000000;
}

#servicios h1 {
    text-align: center;
}


#servicios p {
    font-size: 20px;
    text-align: justify;
}

#servicios li {
    font-size: 20px;
}

/*
* CSS Destinos
*/

#destinos {
    font-family: "Ruda";
}



#destinos h1 {
    text-align: center;
}

#destinos .icon {
    text-align: center;
}

#destinos .icon,
#destinos .fa-li {
    color: #000000;
}

#destinos .col-md-3,
#destinos .col-md-4 {
    border: 2px solid #ffffff;    
}

.box-destino {
    margin-top: 80px;
    margin-bottom: 80px;
}

.box-destino .logo {
    width: 90%;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.box-destino h4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
}

.mdp {
    background-image: url("../img/lobo-mdp.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.entre-rios {
    background-image: url("../img/palmar-entre-rios.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.santa-fe {
    background-image: url("../img/santa-fe.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cordoba {
    background-image: url("../img/cordoba.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.chaco {
    background-image: url("../img/chaco.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.buenos-aires {
    background-image: url("../img/buenos-aires.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.corrientes {
    background-image: url("../img/corrientes.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.misiones {
    background-image: url("../img/misiones.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.horarios-entregas {
    margin-top: 15px;
}

.horarios-entregas ul {
    list-style: none;
}

.horarios-entregas li {
    font-family: "Ruda";
    font-size: 30px;
    background-color: #006649;
    color: #ffffff;
}

/*
 CSS Contacto
 */

 #contacto a {
    color: #006649;
 }

 .btn-primary {
    background-color: #006649;
    border-color: #006649;
}

#contacto .icon {
    color: #000000;
}

/*
Clientes
*/
#clientes {
    font-family: "Ruda";
}

#clientes h1 {
    text-align: center;
}

#clientes .icon {
    text-align: center;
}

#clientes .icon,
#clientes .fa-li {
    color: #000000;
}

#clientes .col-md-2 {
    border: 2px solid #ffffff;    
}

/*.campari {
    background-image: url("../img/campari.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}*/
/*
.nike {
    background-image: url("../img/nike.png");
    background-size: auto;
    background-repeat: no-repeat;
}*/

.logo-cliente img {
    height: 65px;
}